@import "../../src/const/const";
@import '../../src/const/anim/popup.scss';

@mixin -container() {
  height: 100vh;
  width: 100%;
}

@mixin -container-content() {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}


.main-container {
  background-size: cover;
  background: #382540; /* Old Browsers */
  background: -webkit-radial-gradient(center, $bg-color);
  background: -o-radial-gradient(center, $bg-color);
  background: -moz-radial-gradient(center, $bg-color);
  background: radial-gradient(ellipse at center, $bg-color);
  width: 100%;

  &__content {
    height: 100%;
    width: 100%;

    .button-next-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &__content {
        height: 100px;
      }
    }

    .button-prev-container {
      position: absolute;
      top: 15px;
      left: 15px;

      &__content {
        height: 100px;
      }
    }

    .frame-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &__content {
        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    .head-container {
      @include -container();

      &__content {
        @include -container-content();

        .text-container {
          margin: auto;
          width: 100%;
          z-index: 100;
        }

        .triangle-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;

          img {
            margin: auto;
          }
        }
      }
    }

    .principles-container {
      @include -container();

      &__content {
        @include -container-content();
        flex-direction: column;
      }
    }

    .team-container {
      @include -container();

      &__cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 100px;
      }

      &__content {
        @include -container-content();
        flex-direction: column;
      }
    }
  }

  .selected-member{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    @include anim-open-popup-window(1s);

    &__content {
      margin: auto;
      height: calc(100% - 100px);
      width: calc(100% - 100px);
      background-size: cover;
      background: #382540; /* Old Browsers */
      background: -webkit-radial-gradient(center, $bg-color);
      background: -o-radial-gradient(center, $bg-color);
      background: -moz-radial-gradient(center, $bg-color);
      background: radial-gradient(ellipse at center, $bg-color);
      overflow-y: scroll;

      @include anim-slide-content(1s, -120px);
    }

    .button-close-container {
      position: absolute;
      top: 65px;
      right: 75px;
      z-index: 100;

      &__content {

      }
    }
  }
}