<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{template:"{meta.title}"}</title>
    <script>
        window.data = {template:"{global.data}"}
    </script>
    <link rel="stylesheet" type="text/css" href={template:"{res.bundles.styles}"}>
    <link rel="icon" type="image/png" href={template:"{meta.faviconPath}"}>
    <script async src={template:"{res.bundles.scripts}"}></script>
</head>
<body>
<div id="main-container">

</div>
</body>
</html>