@import "../../src/const/const";

.member-container {


  &__content {
    margin: 0 auto;

    .profile-container {
      .profile-container__card {
        margin-top: 100px;
      }

      &__data {
        margin-top: 50px;
      }

    }

    .about-me-container {
      margin-top: 200px;
    }

    .skills-container {
      margin-top: 200px;
      margin-bottom: 100px;

      .skill-list {
        display: flex;
        margin-top: 100px;

        &__content {
          margin: auto;
        }

        .skill {
          margin-top: 10px;

          img {
            border-radius: 50px;
            padding: 7px;
            display: inline-block;
          }

          &__text {
            display: inline-block;
            vertical-align: top;
            margin: 10px;
          }
        }
      }
    }
  }
}