@import "../../src/const/const";
@import "../../src/const/anim/blink";

.label-container {

  &__content {

    &__text {
      font-family: $font-family1;
      color: $color1;

      @include anim-blink($color-transparent, $color1, 2s);
    }

    .text-header {
      font-size: 20vh;
      text-transform: uppercase;
    }

    .text-center {
      text-align: center;
    }
  }
}